
.inici{
  height: 100vh ;
  background-image: url("https://i.ibb.co/QMXB491/ini.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.top-nav-collapse{
  background-color: #262626;
}

.sob{
  height: 50vh;
  background-image: url("https://i.ibb.co/StTnh5x/subr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.contc{
  height: 50vh;
  background-image: url("https://i.ibb.co/PYdvNH9/cont.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
#texto{
  background-color: #8f8f8f !important;
  opacity: 0.5;

}
#textoback{
visibility: visible !important;
 color: rgb(255, 255, 255);
}
